<% const date = new Date(item.createdAt); %>
<% const formattedDate = `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}` %>

<%- include('partials/head') %>
<title>IMS | Home</title>
</head>
<body>
  <%- include('partials/sidebar') %>
  <div id="content" class="container-fluid">
    <div class="container mt-5">
      <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                This cannot be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="/items/<%= item._id %>?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-danger">Proceed</button>
              </form>
              </div>
            </div>
          </div>
        </div>


        <% if (success != '') { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong><%= success %></strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>
        <div class="row">
            <div class="col">
              <div class="container mt-5 mb-1">
                <p style="color: #242834; font-weight: bold; font-size: 12px !important;">
                  PRODUCT MANAGEMENT > <%= item.category.toUpperCase() %> > <%= item.name.toUpperCase() %>
                </p>
              </div>
                
                  <ul class="list-group list-group-vertical-sm mb-4">
                    <p style="color: #72BF44; font-weight: bold; font-size: 12px !important;">
                      ITEM NAME
                    </p>
                    <li style="width: 400px;" class="list-group-item "><%= item.name %></li>
                  </ul>
                  <ul class="list-group list-group-vertical-sm mb-4">
                    <p style="color: #72BF44; font-weight: bold; font-size: 12px !important;">
                      CATEGORY
                    </p>
                    <li style="width: 400px;"class="list-group-item "><%= item.category %></li>
                  </ul>
                  <ul class="list-group list-group-vertical-sm mb-4">
                    <p style="color: #72BF44; font-weight: bold; font-size: 12px !important;">
                      DESCRIPTION
                    </p>
                    <li style="width: 400px;" class="list-group-item "><%= item.description %></li>
                  </ul>
                  <ul class="list-group list-group-vertical-sm mb-4">
                    <p style="color: #72BF44; font-weight: bold; font-size: 12px !important;">
                      QUANTITY
                    </p>
                    <li style="width: 400px;" class="list-group-item "><%= item.quantity %> pc(s)</li>
                  </ul>
                  <ul class="list-group list-group-vertical-sm mb-4">
                    <p style="color: #72BF44; font-weight: bold; font-size: 12px !important;">
                      PRICE
                    </p>
                    <li style="width: 400px;" class="list-group-item ">PHP <%= item.price %></li>
                  </ul>
                  <ul class="list-group list-group-vertical-sm mb-4">
                    <p style="color: #72BF44; font-weight: bold; font-size: 12px !important;">
                      UPDATED BY
                    </p>
                    <li style="width: 400px;" class="list-group-item "><%= item.lastUpdatedBy %></li>
                  </ul>
                  <ul class="list-group list-group-vertical-sm mb-4">
                    <p style="color: #72BF44; font-weight: bold; font-size: 12px !important;">
                      LATEST UPDATE
                    </p>
                    <li style="width: 400px;" class="list-group-item "><%= formattedDate %></li>
                  </ul>

                <div class="mt-2 d-flex gap-3">
                    <a href="/items/<%= item._id %>/edit">
                        <button type="button" style="background-color:#242834; width: 200px; height: 48px;" class="btn btn-primary btn-lg">Update Item</button>
                    </a>
                    <button style="width: 200px; height: 48px;" type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Remove Item
                    </button>
                    <a href="/items">
                        <button type="button" class="btn btn-secondary btn-lg">Back</button>
                    </a>
                </div>
            </div>    
            <div class="col">
                <img src="data:image/png;base64,<%= item.imageCode %>" class="img-thumbnail" alt="...">
            </div>
        </div> 
    </div>
  </div>
  <%- include('partials/footer') %>
